{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
	<style>
		.card 
		{
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		  	transition: 0.3s;
		  	padding: 1px;
		  	background-color: #CDD1CE;
		}
		.vl 
		{
		  	border-left: 6px solid gray;
		  	height: 500px;
		}
	</style>

	<div class="row">
		<div class="col" style="width: 10%">
			<p style="padding-left: 7%; color: #CDD1CE;"><b>TO DO</b></p>
			{% for item in to_do %}
			<div class="card">
	  			<div class="container">
	    			<p><b>{{ item[0] }}</b></p>
	    			<p>{{ item[1] }}</p> 
	  			</div>
			</div>
			<br>
			{% endfor %}
		</div>
		<div class="vl"></div>
		<div class="col" style="width: 10%">
			<p style="padding-left: 7%; color: #CDD1CE;"><b>IN PROGRESS</b></p>
			{% for item in in_progress %}
			<div class="card">
	  			<div class="container">
	    			<p><b>{{ item[0] }}</b></p>
	    			<p>{{ item[1] }}</p> 
	  			</div>
			</div>
			<br>
			{% endfor %}
		</div>
		<div class="vl"></div>
		<div class="col" style="width: 10%">
			<p style="padding-left: 7%; color: #CDD1CE;"><b>DONE</b></p>
			{% for item in done %}
			<div class="card">
	  			<div class="container">
	    			<p><b>{{ item[0] }}</b></p>
	    			<p>{{ item[1] }}</p> 
	  			</div>
			</div>
			<br>
			{% endfor %}
		</div>
	</div>
{% endblock %}
