{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
	<style>
		.card 
		{
		  	padding: 1px;
		  	background-color: #CDD1CE;
		}
		.vl 
		{
		  	border-left: 6px solid gray;
		  	height: 500px;
		}
	</style>

	<div class="row">
		<div class="col" style="width: 10%">
			<p style="padding-left: 7%; color: #CDD1CE;"><b>TO DO</b></p>
			{% for item in to_do %}
			<div class="card">
	  			<div class="container">
					<p><b>{{ item[1] }}</b></p>
					<p>{{ item[2] }}</p>
					<select name={{ item[0] }} placeholder="" id="status" style="color: #314052; background: none; border: none; direction: rtl;">
						<option value="" disabled selected style="background-color: #314052;"></option>
						<option value="In progress" style="background-color: #314052; color: white">In progress</option>
						<option value="Done" style="background-color: #314052; color: white">Done</option>
					</select>
	  			</div>
			</div>
			<br>
			{% endfor %}
		</div>
		<div class="vl"></div>
		<div class="col" style="width: 10%">
			<p style="padding-left: 7%; color: #CDD1CE;"><b>IN PROGRESS</b></p>
			{% for item in in_progress %}
			<div class="card">
	  			<div class="container">
				<p><b>{{ item[1] }}</b></p>
				<p>{{ item[2] }}</p>
				<select name={{ item[0] }} placeholder="" id="status" style="color: #314052; background: none; border: none; direction: rtl;">
					<option value="" disabled selected style="background-color: #314052;"></option>
					<option value="To do" style="background-color: #314052; color: white">To do</option>
					<option value="Done" style="background-color: #314052; color: white">Done</option>
				</select>
	  			</div>
			</div>
			<br>
			{% endfor %}
		</div>
		<div class="vl"></div>
		<div class="col" style="width: 10%">
			<p style="padding-left: 7%; color: #CDD1CE;"><b>DONE</b></p>
			{% for item in done %}
			<div class="card">
	  			<div class="container">
				<p><b>{{ item[1] }}</b></p>
				<p>{{ item[2] }}</p>
					<select name={{ item[0] }} placeholder="" id="status" style="color: #314052; background: none; border: none; direction: rtl;">
					<option value="" disabled selected style="background-color: #314052;"></option>
					<option value="To do" style="background-color: #314052; color: white">To do</option>
					<option value="In progress" style="background-color: #314052; color: white">In progress</option>
				</select>
	  			</div>
			</div>
			<br>
			{% endfor %}
		</div>
	</div>

	<script type="text/javascript">
		let elements = Array.prototype.slice.call(document.querySelectorAll("select"));
		elements.forEach(function(element) {
			element.addEventListener("change", function(evt) {
				let url = 'http://localhost:5000/update?id=' + this.name + '&status=' + this.value;
				window.location = url;
			});
		});
	</script>
{% endblock %}
