{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        form {
            margin: auto;
            width: 50%;
            padding: 30px -15px;
        }
        form .form-group
        {
            width: 100%;
            padding: 0 -15px;
            background-image: linear-gradient(to right, #171E26, #171E26);
            border-bottom: 1px solid #414141;
        }
        form .input-field
        {
            display: block;
            width: 100%;
            border: none;
            outline: none;
            background: none;
            padding: 15px;
            margin-bottom: 15px;
            color: #FFF;
            font-size: 15px;
        }
        .btn
        {
            margin: auto;
            display: block;
        }
    </style>
    <form action="/login" method="post" style="background-color: #171E26">
        <div class="form-group">
            <label for="username"></label>
            <input class="input-field" style="color: #CDD1CE" name="username" id="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input class="input-field" style="color: #CDD1CE" name="password" id="password" placeholder="Password" type="password">
        </div>
        <span style="font-size: 12px; margin-left: 10px; color: red">Incorrect username or password. </span>
        <br><br>
        <button class="btn" style="color: #CDD1CE; background-color: #53565A" type="submit">Log In</button>
        <br>
        <span style="text-align:center; display:block; color: #CDD1CE"> Or, if you don't have an account yet, <a href="/register">register</a>. </span>
        <br>
    </form>
{% endblock %}
